html {
  background-color: #008080;
}


body {
  font-family: sans-serif;
  background-color: #114B5F;
}

#game-title{
  font-family: 'Peralta', cursive;
  font-size: 3.5rem;
  text-align: center;
  color: #F3E9D2;
}

h1, h2, h4{
  color: #F3E9D2;
}

#main-wrapper{
  display: flex;
  flex-direction: column;
  background-color: #114B5F;
  background: linear-gradient(to top, #114B5F, #008080);
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #88D498 !important;
}

label {
  display: block;
}

#back-for-students{
  display: flex;
  justify-content: center;
}

#app-header{
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.headerwithlogo{
  cursor:pointer;
}

.headerwithlogo-small-version {
  display: flex;
  justify-content: flex-start;
  cursor:pointer;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.Nav-style {
  display: flex;
  padding-left: 4rem;
  border-top: solid;
  border-bottom: solid;
  border-color: white;
  background: linear-gradient(to right, #114B5F, #008080);
}

form div {
  margin: 1em;
  display: inline-block;
}

.teacher-single-answer{
  width: 10rem !important;
}

.question-edit-box{
  width: 75vw;
  margin: 10px 10px !important;
}

.question-edit-flex{
  display: flex;
  justify-content: space-between;
}

.right-answer-flex{
  display: flex;
  flex-wrap: wrap;
}

.game-join-box{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 2rem;
}

.ui.container {
  display: flex !important;
  justify-content: center !important;
  align-items: center;
}

#game-pin-box{
  background: #C6DABF;
  padding: 1rem 1rem;
  width: 25vw;
  align-self: center;
  border-radius: 10px;
}

#game-pin{
  font-size: 4rem;
  color: #008080;
  text-align: center;
}

#backfrom-game-pin{
  margin-top: 1rem;
}

#waiting-for-contestants{
  padding: 1rem 1rem;
  font-size: 1.5rem;
  color:  #C6DABF;
}

.contestant-table{
  background-color: #F3E9D2 !important;
  width: 30vw !important;
  font-size: 1.2rem;
}

.table-header{
  background-color: #F3E9D2 !important;
}

.two-button-flex{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  top: 200px;
  left: 0;
  height: 200px;
  width: 135px;
  z-index: 9;
}


#question-edit-button{
  margin-left: auto;
}

#join-game-container{
  display: flex;
  justify-content: center;
}

.student-join-box{
  display: flex;
  flex-direction: column;
  padding: 3rem;
  justify-content: space-around;
}


.join-game-input {
  font-weight: bold !important;
  font-size: 20px !important;
  width: 180px !important;
  text-align: center;
  height: 70px;
}

.join-labels {
  color: white !important;
}

#join-pin {
  font-size: 40px !important;
  margin: 0;
  padding: 0;
  border: 0;
}

#join-name {
  margin: 0;
  padding: 0;
  border: 0;
}

#join-game-button{
  width: 180px !important;
  height: 50px;
}

#leaderboard-username {
  color: black;
  width: 13rem;
  overflow-wrap: break-word;
}

#leaderboard-streak {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

#leaderboard-score {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

#leaderboard-display {
  background: #F2E9D5;
  width: 80%;
}


/* ICONS */

.userSelectMenu {
  display: flex;
  justify-content: space-around;
  margin: 4rem;
  padding-left: 10rem;
  padding-right: 10rem;
  align-items: flex-end;
}

.studentButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
}


#logo {
  width: 40%;
  padding: 1rem;
  padding-top: 3rem;
}

#logo-small {
  width: 19%;
  height: 19%;
  padding: 1rem;
  padding-left: 5rem;
}

#student_icon {
  display: flex;
  width: 100%;
  padding-bottom: 2rem;
  min-width: 50%;
  transition: drop-shadow .1s ease;
}

#student_icon:hover {
  -webkit-filter: drop-shadow(0px 0px 10px #fff );
  filter: drop-shadow(0px 0px 10px #fff);
  cursor:pointer;
}

#teacher_icon {
  display: flex;
  width: 100%;
  padding-bottom: 2rem;
  min-width: 50%;
  transition: drop-shadow .1s ease;
}

#teacher-game-over {
  display: flex;
  flex-direction: column;
  align-items: center;
}


#teacher_icon:hover {
  -webkit-filter: drop-shadow(0px 0px 10px #fff );
  filter: drop-shadow(0px 0px 10px #fff);
  cursor:pointer;
}

#join-logout-button-wrapper{
  padding: 30px 30px;
}

#graphsContainer{
  display: flex;
  flex-direction: column;
  background-color: #C6DABF;
  width: 55vw;
}

.graph-title {
  color: #008080;
  text-align: center;
}

#graph-page-box {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

#graph-menu {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#student-portal {
  display: flex;
  justify-content: center;
  padding: 3rem;
}

#student-signup {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

#teacher-portal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#teacher-login-zone {
  display: flex;
  justify-content: center;
}

#teacher-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.teacherbuttonselect {
  margin-bottom: 2rem !important;
  margin-top: .4rem !important;
  width: 100%;
}

#teacher-signup {
  display: flex;
  flex-direction: column;
}

.white-text{
  color: white;
}

label.white-text{
  color: white !important;
}


.warning {
  color: #ffa500
}

#timer-box{
  background: #88D498;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#time-remaining{
  color: #C6DABF
}

#timer{
  color: #008080;
  text-align: center;
  font-size: 6rem;
  font-family: 'Peralta', cursive;
}

#question-box{
  width: 45rem;
}

#teacher-single-question{
  color: #008080;
}

.teacher-single-answer{
  border-color: #008080;
  background: #F3E9D2;
}

.answer-box{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1rem 1rem;
}

.teacher-single-answer{
  width: 20rem !important;
  height: 4rem;
  font-size: 1.5rem;
  color: #008080;
}

.teacher-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

#all-questions-container{
  display: flex;
  flex-direction: column;
  padding: 3rem 3rem;
}

#game-name {
  color: orange !important;
  font-size: 1.4rem;
}

.ui.container {
  display: flex;
  justify-content: space-between;

}

.ui.grid {
  display: flex !important;
  align-items: stretch !important;
  border-top: solid;
  border-color: white;
}

.ui.grid>.row{
  border-bottom: solid;
  border-color: lightgray;
  box-shadow: 0 5px 0px 0 rgba(0, 0, 0, 0.09)
}

.teacher-menu {
  padding-bottom: 7em;
}

#teach-menu-label{
  width: 100%;
}

.play-game-button{
  width: 100%;
  box-shadow: 3px 6px 0px 0 rgba(0, 0, 0, .14) !important;
}

#make-quiz-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#question-generate{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
}

#enter-text{
  width: 550px;
  height: 25vh;
  resize: none;
}

#option-select{
  display: flex;
  flex-direction: column;
}

#welcome-message {
  padding-top: 3rem;
}

#student-portal-logged-in{
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
}

/* ==== ANSWER REVEAL ==== */

.answer-reveal-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
}

#current-question {
  display: flex;
  flex-wrap: wrap;
  padding: 4rem;
  font-size: 5em;
  color: white;
  text-shadow: 0px 5px rgba(0, 0, 0, .14);
  font-weight: bold;
}

#current-answer{
  display: flex;
  flex-wrap: wrap;
  background-color: orange;
  margin-bottom: 3rem;
  padding: 2rem;
  font-size: 3em;
  color: purple;
  font-weight: bold;

}

#all-questions-flex{
  display: flex;
}
