body {
  font-family: sans-serif;
}

#game-title{
  font-family: 'Peralta', cursive;
  font-size: 3.5rem;
  text-align: center;
  color: #F3E9D2;
}
h1, h2{
  color: #F3E9D2;
}


#enter-text{
  width: 40vw;
  height: 15vh;
}

#children-wrapper{
  background-color: #114B5F;
  height: 100vh;
  width: 100vw;
}

a {
  text-decoration: none;
  color: #88D498 !important;
}

label {
  display: block;
}

#app-header{
  background-color:#008080
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.teacher-single-answer{
  width: 10rem !important;
}

.question-edit-box{
  width: 75vw;
  margin: 10px 10px !important;
}

.question-edit-flex{
  display: flex;
  justify-content: space-between;
}

.right-answer-flex{
  display: flex;
  flex-wrap: wrap;
}

#all-questions-container{
  display: flex;
  flex-direction: column;
  padding: 3rem 3rem;
}

.game-join-box{
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#game-pin-box{
  background: #C6DABF;
  padding: 1rem 1rem;
  width: 25vw;
  align-self: center;
  border-radius: 10px;
}

#game-pin{
  font-size: 4rem;
  color: #008080;
  text-align: center;
}

#waiting-for-contestants{
  padding: 1rem 1rem;
  font-size: 1.5rem;
  color:  #C6DABF;
}

#contestant-table{
  background-color: #F3E9D2 !important;
  width: 30vw;
  font-size: 1.2rem;
}

#table-header{
  background-color: #F3E9D2 !important;
}

.two-button-flex{
  display: flex;
  justify-content: space-around;
}

.add-new-question{
  margin: 10px 10px !important;
}

#all-games-container{
  display: flex;
  flex-direction: column;
  padding: 3rem 3rem;
}
#game-name{
  justify-content: space-around;
  color: #F3E9D2 !important;

.student-join-box{
  display: flex;
  flex-direction: column;
  padding: 5rem 5rem;
  justify-content: space-around;
}

.join-game-input{
  width: 120px !important;
}

#join-game-button{
  width: 120px !important;
}
